doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content